<ion-header>
  <ion-toolbar>
    <ion-title>Player Vs Player</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed=true>
    <ion-row *ngFor="let chessRow of env.board; let r = index">
      <ion-col *ngFor="let chessCol of chessRow; let c = index" 
      [ngClass]="{'white': (r+c)%2==0, 'black': (r+c)%2==1}" 
      (click)="click(r, c)">
        <!-- {{chessCol}} -->
        <img src="{{chessCol.img}}" class="pcs">
        <img *ngIf="showCircle(r, c)" class="circle" src="../assets/img/extras/circle.png">
        <img *ngIf="showDot(r, c)" class="circle" src="../assets/img/extras/dot.png">
        <img *ngIf="showCross(r, c)" class="circle" src="../assets/img/extras/cross.png">
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  turn: {{turn}} <br>
  step: {{step}} <br>
  selected_piece: {{selected_piece}} <br>
  debug: {{debug}}
  
  <br>
  <ion-button (click)="test()">test</ion-button>
  
  <br>
  <ion-button (click)="resetBoard()">Reset board</ion-button>
  <br>
  <ion-button routerLink="/home" routerDirection="forward">Home</ion-button>

</ion-content>
